.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-bottom-enter-active,
.fade-bottom-leave-active {
	transition: all 0.3s ease;
}

.fade-bottom-enter-from,
.fade-bottom-leave-to {
	opacity: 0;
  transform: translateY(20px);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(100%);
}

.swipe-right-enter-active,
.swipe-right-leave-active {
  transition: all 0.3s ease-in-out;
}

.swipe-right-enter-from,
.swipe-right-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

.swipe-left-enter-active,
.swipe-left-leave-active {
  transition: all 0.3s ease-in-out;
}

.swipe-left-enter-from,
.swipe-left-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

/* PANELS */

.drawer-left-enter-active,
.drawer-left-leave-active {
  transition: all 0.3s ease;

  .drawer__wrapper {
    transition: all 0.3s ease;
  }
}

.drawer-left-enter-from,
.drawer-left-leave-to {
  opacity: 0 !important;

  .drawer__wrapper {
    transform: translateX(-100%) !important;
  }
}

.drawer-right-enter-active,
.drawer-right-leave-active {
  transition: all 0.3s ease;

  .drawer__wrapper {
    transition: all 0.3s ease;
  }
}

.drawer-right-enter-from,
.drawer-right-leave-to {
  opacity: 0 !important;

  .drawer__wrapper {
    transform: translateX(100%) !important;
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.2s ease;
}

.list-enter-from,
.list-leave-to {
  transform: scale(0.8) translateY(-10px);
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.add-shadow {
  @apply relative overflow-hidden;
}

.add-shadow::after {
  content: '';
  @apply absolute top-0 -left-14 w-1/5 min-w-[1.5rem] h-full bg-zinc-700 filter blur-[8px];
  animation: slide 2s infinite ease;
}

@keyframes slide {
  0% {
    left: -3.5rem;
  }
  10% {
    left: -3.5rem;
  }
  90% {
    left: calc(100% + 3.5rem);
  }
  100% {
    left: calc(100% + 3.5rem);
  }
}

/* POPUP */
.popup-enter-active {
  transition: all 0.3s ease;

  .popup__wrapper {
    transition: all 0.3s 0.15s ease;
    transform-origin: bottom;
  }
}

.popup-leave-active {
  transition: all 0.3s 0.15s ease;

  .popup__wrapper {
    transition: all 0.3s ease;
    transform-origin: bottom;
  }
}

.popup-enter-from,
.popup-leave-to {
  opacity: 0;

  .popup__wrapper {
    opacity: 0;
    transform: scale(0.8);
  }
}
